* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

body {
    min-height: 100vh;
    /* background: linear-gradient(135deg, #0e1123 0%, #222738 100%); */
    background: linear-gradient(135deg, #000000 0%, rgb(18, 26, 79) 100%);
    padding: 20px;
    /* background-image: url("animatedBg.gif"); */
    background-image: url("Cover.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    border-bottom: 2px solid white;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.7rem;
    color: whitesmoke;
    font-family: monospace;
    font-weight: bolder;
}

.logo-icon {
    background: #333;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content {
    max-width: 800px;
    margin: 60px auto;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 20px;
}

.subtitle {
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 60px;
    font-family: cursive;
}
.mid-span {
    -webkit-background-clip: text;
    /* background-image: linear-gradient(25deg, #2600fc, #ff00ea); */
    background-image: linear-gradient(25deg, #d0cfd6, #ff00e9);
    color: transparent;
    font-size: 1.5rem;
    font-weight: bolder;
}

.cards-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 3.8rem;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 16px;
    width: 200px;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.card-icon {
    background: #333;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.card h3 {
    font-size: 1rem;
    margin-bottom: 8px;
    color: #333;
}

.card p {
    font-size: 0.9rem;
    color: #666;
}

.input-container {
    /* background: white; */
    border-radius: 12px;
    padding: 15px;
    display: flex;
    gap: 10px;
    /* max-width: 600px; */
    width: 100%;

    margin: 0 auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.settings-icon {
    background: #333;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    width: 100%;
    flex: 1;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #333;
}

.send-button {
    background: #e9967a;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
}

.user-icon {
    background: #f0f0f0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .cards-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
        max-width: 300px;
    }
}

/* -----------------------EXT--------------------------- */

/* From Uiverse.io by Lakshay-art */
/* From Uiverse.io by Lakshay-art */
.grid {
    height: 800px;
    width: 100%;
    background-image: linear-gradient(to right, #0f0f10 1px, transparent 1px),
        linear-gradient(to bottom, #0f0f10 1px, transparent 1px);
    background-size: 1rem 1rem;
    background-position: center center;
    position: absolute;
    z-index: -1;
    filter: blur(1px);
}

.white,
.border,
.darkBorderBg,
.glow {
    max-height: 70px;
    width: 100%;
    position: absolute;
    overflow: hidden;
    z-index: -1;
    border-radius: 12px;
    filter: blur(3px);
}

.input {
    background-color: #010201;
    border: none;
    width: 100%;
    height: 56px;
    border-radius: 10px;
    color: white;
    padding-inline: 59px;
    font-size: 18px;
}

#poda {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    position: relative;
    margin: 0 auto;
}

.input::placeholder {
    color: #c0b9c0;
}

.input:focus {
    outline: none;
}

#main:focus-within>#input-mask {
    display: none;
}

#input-mask {
    pointer-events: none;
    width: 100px;
    height: 20px;
    position: absolute;
    background: linear-gradient(90deg, transparent, black);
    top: 18px;
    left: 70px;
}

#pink-mask {
    pointer-events: none;
    width: 30px;
    height: 20px;
    position: absolute;
    background: #cf30aa;
    top: 10px;
    left: 5px;
    filter: blur(20px);
    opacity: 0.8;
    //animation:leftright 4s ease-in infinite;
    transition: all 2s;
}

#main:hover>#pink-mask {
    //animation: rotate 4s linear infinite;
    opacity: 0;
}

.white {
    max-height: 63px;
    width: 100%;
    border-radius: 10px;
    filter: blur(2px);
}

.white::before {
    content: "";
    z-index: -2;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(83deg);
    position: absolute;
    width: 600px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: 0 0;
    filter: brightness(1.4);
    background-image: conic-gradient(rgba(0, 0, 0, 0) 0%,
            #a099d8,
            rgba(0, 0, 0, 0) 8%,
            rgba(0, 0, 0, 0) 50%,
            #dfa2da,
            rgba(0, 0, 0, 0) 58%);
    //  animation: rotate 4s linear infinite;
    transition: all 2s;
}

.border {
    max-height: 59px;
    width: 100%;
    border-radius: 11px;
    filter: blur(0.5px);
}

.border::before {
    content: "";
    z-index: -2;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(70deg);
    position: absolute;
    width: 600px;
    height: 600px;
    filter: brightness(1.3);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: conic-gradient(#1c191c,
            #402fb5 5%,
            #1c191c 14%,
            #1c191c 50%,
            #cf30aa 60%,
            #1c191c 64%);
    // animation: rotate 4s 0.1s linear infinite;
    transition: all 2s;
}

.darkBorderBg {
    max-height: 65px;
    width: 100%;
}

.darkBorderBg::before {
    content: "";
    z-index: -2;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(82deg);
    position: absolute;
    width: 600px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: conic-gradient(rgba(0, 0, 0, 0),
            #18116a,
            rgba(0, 0, 0, 0) 10%,
            rgba(0, 0, 0, 0) 50%,
            #6e1b60,
            rgba(0, 0, 0, 0) 60%);
    transition: all 2s;
}

#poda:hover>.darkBorderBg::before {
    transform: translate(-50%, -50%) rotate(262deg);
}

#poda:hover>.glow::before {
    transform: translate(-50%, -50%) rotate(240deg);
}

#poda:hover>.white::before {
    transform: translate(-50%, -50%) rotate(263deg);
}

#poda:hover>.border::before {
    transform: translate(-50%, -50%) rotate(250deg);
}

#poda:hover>.darkBorderBg::before {
    transform: translate(-50%, -50%) rotate(-98deg);
}

#poda:hover>.glow::before {
    transform: translate(-50%, -50%) rotate(-120deg);
}

#poda:hover>.white::before {
    transform: translate(-50%, -50%) rotate(-97deg);
}

#poda:hover>.border::before {
    transform: translate(-50%, -50%) rotate(-110deg);
}

#poda:focus-within>.darkBorderBg::before {
    transform: translate(-50%, -50%) rotate(442deg);
    transition: all 4s;
}

#poda:focus-within>.glow::before {
    transform: translate(-50%, -50%) rotate(420deg);
    transition: all 4s;
}

#poda:focus-within>.white::before {
    transform: translate(-50%, -50%) rotate(443deg);
    transition: all 4s;
}

#poda:focus-within>.border::before {
    transform: translate(-50%, -50%) rotate(430deg);
    transition: all 4s;
}

/* .glow {
    overflow: hidden;
    filter: blur(30px);
    opacity: 0.4;
    max-height: 130px;
    width: 100%;
  } */
.glow {
    max-height: 70px;
    max-width: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    z-index: -1;
    /* Border Radius */
    border-radius: 12px;
    filter: blur(9px);
}

.glow:before {
    content: "";
    z-index: -2;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(60deg);
    position: absolute;
    width: 999px;
    height: 999px;
    background-repeat: no-repeat;
    background-position: 0 0;
    /*border color, change middle color*/
    background-image: conic-gradient(#000,
            #402fb5 5%,
            #000 38%,
            #000 50%,
            #cf30aa 60%,
            #000 87%);
    /* change speed here */
    //animation: rotate 4s 0.3s linear infinite;
    transition: all 2s;
}

@keyframes rotate {
    100% {
        transform: translate(-50%, -50%) rotate(450deg);
    }
}

@keyframes leftright {
    0% {
        transform: translate(0px, 0px);
        opacity: 1;
    }

    49% {
        transform: translate(250px, 0px);
        opacity: 0;
    }

    80% {
        transform: translate(-40px, 0px);
        opacity: 0;
    }

    100% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}

.icon-container {
    position: relative; /* Relative positioning for child absolute icons */
}

#filter-icon, #new-icon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    max-height: 40px;
    max-width: 38px;
    height: 100%;
    width: 40px;
    isolation: isolate;
    overflow: hidden;
    border-radius: 10px;
    background: linear-gradient(180deg, #161329, black, #1d1b4b);
    border: 1px solid transparent;
}

.filterBorder {
    height: 42px;
    width: 40px;
    position: absolute;
    overflow: hidden;
    top: 7px;
    right: 7px;
    border-radius: 10px;
}

.filterBorder::before {
    content: "";

    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    position: absolute;
    width: 600px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: 0 0;
    filter: brightness(1.35);
    background-image: conic-gradient(rgba(0, 0, 0, 0),
            #3d3a4f,
            rgba(0, 0, 0, 0) 50%,
            rgba(0, 0, 0, 0) 50%,
            #3d3a4f,
            rgba(0, 0, 0, 0) 100%);
    animation: rotate 4s linear infinite;
}

/* Filter Icon */
#filter-icon {
    top: 8px;
    right: 50px; /* Adjust right value to create space for new icon */
}

/* New Icon */
#new-icon {
    top: 8px;
    right: 8px; /* Place new icon to the right */
}

/* Optional hover effect for both icons */
#filter-icon:hover, #new-icon:hover {
    background: linear-gradient(180deg, #1d1b4b, black, #161329);
    cursor: pointer;
}


#main {
    position: relative;
    width: 100%;
}

#search-icon {
    position: absolute;
    left: 20px;
    top: 15px;
}

/* ----------------------------------------------CARD=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */


/* From Uiverse.io by mayurd8862 */
.card {
    position: relative;
    width: 170px;
    height: 170px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
}

.card::before,
.card::after {
    position: absolute;
    content: "";
    width: 20%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
    background-color: rgba(181, 181, 181, 0.4);
    transition: all 2s;
}

.card::before {
    top: 0;
    right: 0;
    border-radius: 0 15px 0 100%;
}
#cimg1{
    top: 0;
    right: 0;
    /* border-radius: 0 15px 0 100%; */
    background-image: url(Lap.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#cimg2{
    top: 0;
    right: 0;
    /* border-radius: 0 15px 0 100%; */
    background-image: url(Robo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#cimg3{
    top: 0;
    right: 0;
    /* border-radius: 0 15px 0 100%; */
    background-image: url(Cpl.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.card::after {
    bottom: 0;
    left: 10px;
    border-radius: 0 100% 0 15px;
}

.card:hover::before,
.card:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all 0.5s;
}

/* .card:hover:after {
    content: "HELLO";
    color: white;
} */
#cimg1:hover:after {
    content: "🔗 Simple, Intuitive, Hassle-Free";
    -webkit-background-clip: text;
    background-image: linear-gradient(25deg, #d0cfd6, #ff00e9);
    color: transparent;
    font-size: 1.4rem;
    font-weight: bolder;
}
#cimg2:hover:after {
    content: "🤖 Built to Grow Seamlessly";
    -webkit-background-clip: text;
    background-image: linear-gradient(25deg, #d0cfd6, #ff00e9);
    color: transparent;
    font-size: 1.4rem;
    font-weight: bolder;
}
#cimg3:hover:after {
    content: "⏱️ Instant Results, Anytime, Anywhere";
    -webkit-background-clip: text;
    background-image: linear-gradient(25deg, #d0cfd6, #ff00e9);
    color: transparent;
    font-size: 1.4rem;
    font-weight: bolder;
}

#main {
    display: flex;
    align-items: center;
}

#send-icon {
    margin-right: 10px; /* Space between send icon and input field */
}

#search-icon {
    margin-left: 10px; /* Space between search icon and input field */
    z-index: 1000;
}

.input {
    flex-grow: 1; /* Allow input to take remaining space */
    padding: 10px;
    font-size: 16px;
}

#input-mask, #pink-mask {
    /* Add any other styling if needed */
}




/* -------------------------------------------LOADER------------------------------------------ */

